{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock  %}

      YATRA
    </title>

   
    {% comment %} adding the bootsrap here {% endcomment %}

</head>

<body style="background-color:#15161B;color:aliceblue">
  <nav style="display:flex;align-items:centre;justify-content:space-between">

    <h1 style="">Yatra</h1>
    <div style="display:flex;align-items:centre ;gap:5rem;">
      <h3>Help</h3>
      <h3 style="margin-right:1vw">Contact Us </h3>  
    </div>
  </nav>

  <h1 style="padding-top:50px; padding-left:520px;font-size:40px">Welcome to Yatra app</h1>
  
    {% comment %} {% for train in trains %}
        <li>{{ train.name }} - {{ train.date }} - {{ event.available_tickets }} tickets left
            <button onclick="bookTicket({{ train.id }})">Book Now</button>
        </li>
    {% endfor %} {% endcomment %}

    {% for train in trains %}
    <li>{{ train.train_number }} | {{ train.from_station }} → {{ train.to_station }} | Seats Left: {{ train.seatNo }}
        <button onclick="bookTicket({{ train.id }})">Book Now</button>
    </li>
{% endfor %}
<script>
  function bookTicket(eventId) {
      window.location.href = `/book/${eventId}/`;
  }
</script>

        {% block content %}
               
           

        {% endblock  %}


    </div>


</body>
</html>